.add-doc {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.icon {
  margin-top: 5px !important;
}
.add-doc :hover {
  transform: scale(1.03) !important;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


